@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&family=DM+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    line-height: 1;
}

/* Lovelace Hacks Graphic Standard */
.grid-container{
    display: flex;
    margin-right: 10%;
    margin-left: 10%;
    flex-direction: row;
    align-items: center;
    /*margin-bottom: -120vw;*/
}
.event-title {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    color: white;
    font-size: 6.8vw;
    font-family: 'Crimson Text', serif;
    font-weight: 700;
}

.ada-lovelace-window-grid {
    margin-left: auto;
}

.ada-lovelace-window-image{
    width: 30vw;
}

.purple-text {
    color: #D3B8FF;
}

.yellow-text {
    color: #F8E589;
}

.event-date {
    font-size: 1.3vw;
    font-family: "DM Sans", bold, sans-serif;
}

.button-text {
    padding: 1vw;
    border-radius: 50px;
    border-color: #6C51F5;
    color: white;
    font-size: 1.3vw;
    font-family: "Lato", sans-serif;
    background-color: #6C51F5;
}

.lace-mentor{
    margin-left: 10px;
}

.body-text {
    font-size: 1.3vw;
    font-family: "DM Sans", regular, sans-serif;
}

.letter-spacing-7 {
    letter-spacing: 0.07em;
}

.letter-spacing-5 {
    letter-spacing: 0.05em;
}

.letter-spacing-3 {
    letter-spacing: 0.03em;
}
.lace-sponsor-logos{
    display: flex;
    align-items: center;
}
.sachacks-logo-size {
    width: 12vw;
    height: auto;
}

.wics-logo-size {
    margin-left: 50px;
    width: 10vw;
    height: auto;
}

.lace-map-buttons{
    display: flex;
}

@media screen and (max-width: 450px) {
    .event-title{
        font-size: 8vw;
    }
}


