@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark&display=swap');

.lace-FAQPage{
	background: #03113A;
	padding-left: 10%;
}

.lace-FAQPage .lace-extension{
	background: #03113A;
	padding: 30px; 
}
.lace-FAQ{
	text-align: left;
	background: #03113A;
	color: white;
}

.lace-FAQ h1{
	padding-top: 2vh;
	font-size: 3vw;
	font-family: 'Palanquin Dark';
	font-weight: 100;
}

.lace-extension_one{
	background: #03113A;
	padding-bottom: 5vh; 
}

.lace-questions{
	display: flex;
	text-align: center;
	align-items: flex-start;
	justify-content: center;
}


.lace-row_one{
	padding-right: 5%;
	width: 100%;
}

.lace-row_two{
	padding-right: 3%;
	width: 100%;
}

.lace-row_one p{
	margin-bottom: 5%;
	font-family: 'Palanquin Dark';
	font-size: 2.5vw;
	border-bottom-style: solid;
  	border-bottom-width: thin;
}

.lace-row_two p{
	margin-bottom: 5%;
	font-family: 'Palanquin Dark';
	font-size: 2.5vw;
	border-bottom-style: solid;
  	border-bottom-width: thin;
}

.lace-extension_two{
	background: #03113A;
	padding: 11vh;
}