/* @import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark&display=swap');

.FAQPage{
	background: #FFFFFF;
}

.FAQPage .extension{
	background: #FFEAFC;
	padding: 30px; 
}
.FAQ{
	text-align: center;
	background: #FFFFFF;
}

.FAQ h1{
	padding-top: 2vh;
	font-size: 3vw;
	font-family: 'Palanquin Dark';
	font-weight: 100;
}

.extension_one{
	background: #FFEAFC;
	padding-bottom: 10vh; 
}

.questions{
	text-align: center;
	align-items: center;
	justify-content: center;
}


.row_one{
	padding-right: 5%;
	
}

.row_two{
	padding-right: 3%;
	
}

.row_one p{
	margin-bottom: 5%;
	font-family: 'Palanquin Dark';
	font-size: 2.5vw;
	border-bottom-style: solid;
  	border-bottom-width: thin;
}

.row_two p{
	margin-bottom: 5%;
	font-family: 'Palanquin Dark';
	font-size: 2.5vw;
	border-bottom-style: solid;
  	border-bottom-width: thin;
}

.extension_two{
	background: #FFEAFC;
	padding: 11vh;
} */