@import url('https://fonts.googleapis.com/css?family=Crimson+Text:bold');
@import url('https://fonts.googleapis.com/css?family=DM+Sans:regular,bold');
@import url('https://fonts.googleapis.com/css?family=Lato:regular');


.Lace-Mission{
    display: flex;
    flex-direction: column;
    padding-top: 200px;
}

.Lace-Mission-half{
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

.ada-bio{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 10%;
}

.who-was-ada{
    margin-left: 10%;
}

.who-was-ada p{
    margin-right: 20%;
    color: #FFFFFF;
    font-size: 1.2vw;
    font-family: "DM Sans", regular, sans-serif;
}

.who-was-ada h1{
    color: #FFFFFF;
    font-size: 4vw;
    font-family: "DM Sans", bold, sans-serif;
}

.ada-bio img{
  /*  padding-top: 65px;*/
    width: 12vw;
    margin-left: 7%;
}

.lovelace-values h1{
    color: #FFFFFF;
    font-size: 4vw;
    font-family: "DM Sans", bold, sans-serif;
}

.awareness-card-front{
    width: 22vw;
 }

.thrive-card-front{
    width: 22vw;
    padding-right:18%;
    padding-left:18%;
}

.exposure-card-front{
    width: 22vw;
}

.card-inline {
    display: flex;
}

.value-flips {
    display: flex;
    flex-direction: row;
}

.koehl-quote, .keynote-quote{
    width: 100vw;
    height: auto;
}

.koehl{
}

.sadie{
}




/*---------------------------------------------------------------------------------------------------*/
.lovelace-team h1{
    color: white;
    margin-left: 10%;
    font-size: 4vw;
    font-family: "DM Sans", regular, sans-serif;
}

.lace-team{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.person h2{
    font-size: 2vw;
}

.person h3{
    font-size: 1.2vw;
}

.person h2, .person h3{
    color: white;
}

.rows{
    align-items: center;
    text-align: center;
    padding: 1vw 0px 0px;
    display: flex;
    flex-direction: row;
}

.person{
    margin: 5vw;
}

.square{
    width: 12vw;
    height: 12vw;
    border-radius: 50%;
    background-image: url("/lovelace2021/team-profilepics.svg");
    /*background-color: #C4C4C4;*/
    background-repeat: no-repeat;
    background-size: cover;
} 

