
.Lace-Sponsors-Title h1{
	color: #FFFFFF;
    font-size: 50px;
    font-family: "DM Sans", bold, sans-serif;
    margin-left: 7%; 
}

.footer-lovelace{
	background-color: #342B67;
}

.col{
	margin-left: 7%;
    padding: 1vw 0px 0px;
    display: inline-block;
}

.col-1 h1{

    color: #FFFFFF;
    font-size: 30px;
    font-family: "Crimson Text", bold, serif;
}

.col-2 h1{
	color: #FFFFFF;
	padding-bottom: 10px;
    font-size: 12px;
    font-family: "DM Sans", regular, sans-serif;
}

.col-3 h1{
	color: #FFFFFF;
	padding-bottom: 10px;
    font-size: 12px;
    font-family: "DM Sans", regular, sans-serif;
}

.col-3 h2{
	color: #D5BDEA;
	font-size: 12px;
}

.lace-social-media img{
	width:25px;
}

.Lovelace-Hacks-Instagram{
	padding-left: 25px;
	padding-right: 25px;
}

.col-4{
	margin-left: 8%;
}

.col-4 h1{
	color: #FFFFFF;
	padding-bottom: 10px;
    font-size: 12px;
    font-family: "DM Sans", regular, sans-serif;
}

.extension-lace{
	padding-bottom: 10vw;
}
