.sp-elem {
    background-color: transparent;
    height: 210px;
    width: 200px;
    /* border: 1px solid #F2F2F2; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.sp-elem img {
    height: auto;
    width: 100%;
}

.IBM img {
    height: auto;
    width: 30vw;
    margin-bottom: 20%;
}

@media (max-width: 541px) {
    .sp-elem {
        height: auto;
        width: 70%;
        margin-bottom: 30px;
    }

    .IBM img {
        width: 280px;
        margin-bottom: 0;
    }
}