.lg-events {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: 84%;
    margin-left: 16%;
}

.lg-event,
.lg-news,
.lg-medium {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: auto;
    padding-left: 50px;
    padding-right: 50px;
}

.lg-news-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.lg-events-header {
    font-size: 40px;
}
