.lg-teams {
    height: auto;
    width: 84%;
}

.lg-teams-layout {
    display: flex;
}

.lg-teams-year-list {
    width: 14%;
    max-width: 230px;
    text-align: center;
    padding-top: 200px;
}

.lg-teams-title {
    margin-left: 7%;
    font-size: 40px;
}

.lg-teams-roles {
    display: flex;
}

.lg-teams-role {
    text-transform: uppercase;
    margin-right: 20px;
}

.lg-teams-role.role-active {
    border-bottom: solid 8px #024cf3;
    border-radius: 4px;
}

.lg-teams-group-photo img {
    width: 100%;
    height: auto;
}

.lg-teams-role-header {
    text-transform: uppercase;
}
