.lg-event-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    height: auto;
    width: 100%;
    margin: 4% 0;
    font-family: Graphik, serif;
}

.lg-event-card-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 50%;
}

.lg-event-card-left img {
    width: 80%;
    height: auto;
}

.lg-event-card-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 50%;
}

.lg-event-name {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}

.lg-event-header {
    font-size: 25px;
    font-weight: 700;
}

.lg-event-date {
    font-size: 23px;
    font-weight: 400;
    margin: 0;
}

.lg-event-des {
    font-size: 18px;
    font-weight: 400;
}

.lg-event-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 150px;
    border-radius: 5px;
    background-color: #024cf3;
    font-size: 15px;
    font-weight: 700;
    padding: 20px;
    cursor: pointer;
}
