.resources-page {
  height: auto;
  width: 100vw;
  background-image: url("/cropped.png"), url("/cover.png");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  font-family: "Puritan", sans-serif;
}

.shadow-cover {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.shadow-cover h1 {
  color: white;
  font-size: calc(100vw * 0.032 + 5px);
  text-align: center;
}

.resources-main {
  position: relative;
  top: calc(100vw * 0.0801 * -1 + 0px);
}

.resources-content {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.horz-content {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.vert-content {
  height: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
  font-size: 18pt;
}

.vert-content b {
  font-size: calc(100vw * 0.013 + 2px);
}

.vert-content li {
  font-size: calc(100vw * 0.011 + 2px);
}

/* Mobile */
@media screen and (max-width: 541px) {
  .resources-page {
    min-height: 100vh;
    height: auto;
    background-image: none;
    background: linear-gradient(179.63deg, #0b0122 0.33%, #001241 92.84%);
  }

  .shadow-cover {
    min-height: 100vh;
    height: auto;
  }

  .resources-main {
    height: auto;
    padding-top: 100px;
  }

  .resources-header {
    display: none;
  }

  .resources-content {
    padding-top: 20px;
  }

  .horz-content {
    display: block;
  }

  .horz-content a {
    color: white;
  }

  .vert-content {
    width: initial;
    padding: 30px 0;
    border-bottom: 3px solid #4f5a81;
  }

  .vert-content li {
    font-size: 18px;
  }

  .vert-content b {
    font-size: 21px;
  }
}